body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.seccion-mision-vision {
    background-color: #fff;
    padding: 2em 0;
}

.mision-vision-item {
    text-align: center;
    margin-bottom: 2em;
}

.mision-vision-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.seccion-fotos {
    background-color: #f8f8f8;
    padding: 4em 0;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria img {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
